// Set resources for workflow
process.cpus = 2

// Enable Nextflow reporting
dag.enabled = true
report.enabled = true
timeline.enabled = true
trace.enabled = true

profiles {
  // Docker profile
  DOCKER {
    docker.enabled = true
  }

  // Singularity profile for running demo on Gadi
  GADI {
    singularity.enabled = true

    process {
      module = 'singularity'
    }
  }
}

